.header > h1 {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 0.0625rem solid #dedede;
  font-weight: 500;
}

.item {
  margin: 0;
  padding: 0;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.total > h1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.btn-container {
  text-align: right;
}

.btn-container button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ff5722;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.btn-container button:hover,
.btn-container button:active {
  background-color: #ffe6dc;
  border-color: #e64a19;
}

.btn-container .order {
  background-color: #e64a19;
  border-color: #e64a19;
  color: white;
}

.btn-container .order:hover,
.btn-container .order:active {
  background-color: #d84315;
  border-color: #e64a19;
}
