.header > h1 {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 0.0625rem solid #dedede;
  font-weight: 500;
}

.item {
  margin: 0;
  padding: 0;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.total > h1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.btn-container {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
