.menu {
  /* max-width: 60rem; */
  width: 40%;
  min-width: 25rem;
  padding-top: 8.5rem;
  margin-right: 2rem;
  animation: meals-appear 1s ease-out forwards;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu h1 {
  font-size: 1.25rem;
  padding-bottom: 0.75rem;
  border-bottom: 0.0625rem solid #dedede;
}

.MenuError {
  text-align: center;
  color: red;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
