header {
  border-bottom: 1.5px #bdbdbd solid;
}
.header {
  width: 100%;
  max-width: 1600px;
  height: 5rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  z-index: 10;
}

.logo a {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15rem;
  height: 2rem;
}

.seperator {
  border-right: 1px solid black;
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* font-weight: bold; */
  font-family: "Hubballi", cursive;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
}
